<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYZU8GQi2JhrtAs5uCZNuzF3WpBfQ1LoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>722317549136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tdc.edu.travelogue</string>
	<key>PROJECT_ID</key>
	<string>travelogue-abb82</string>
	<key>STORAGE_BUCKET</key>
	<string>travelogue-abb82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722317549136:ios:1afcaf4404f1de5d25bb55</string>
	<key>DATABASE_URL</key>
	<string>https://travelogue-abb82-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>